*{
    margin: 0;
}
.header-color{
    background-color: rgb(136, 138, 241);
    padding: 70px 0;
    text-align: center;
    height: 100%;
    width: 100%;
}
.video{
    margin-right: 20px;
}

h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
}

iframe{
    margin-top: 30px;
}
nav{
    width: 100%;
    background-color: rgb(186, 186, 255);
    padding: 30px 0;
    
}
.col-12{
    padding-left: 40px;
}


  .footer-parafo {
    width: 100%;
    background-color:rgb(12, 12, 12);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    
  }

.container-1{
    display: flex;
    justify-content: center;
}

.container-2{
    display: flex;
    justify-content: center;
}